<%= form_for recipe, html: { multipart: true } do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  

  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_select :date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :directions %>
    <%= f.text_area :directions, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :cooktime %>
    <%= f.time_select :cooktime, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :servings %>
    <%= f.number_field :servings, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
