<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @recipe.date %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Directions:</strong>
  <%= @recipe.directions %>
</p>

<p>
  <strong>Cooktime:</strong>
  <%= @recipe.cooktime %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<% if @recipe.user == current_user %>
  <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<% end %>

<%= link_to 'Back', recipes_path %>
